# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.vscode/
.idea/

# App specific
error_log.txt
temp/
output/
*.spec
*.wav

# OS
.DS_Store
Thumbs.db

# .NET (C#)
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# C-Box TTS Native Specific
**/Release_Portable/
*.log
*.msi
install_log.txt
python_embeded/
C-BoxTTS_Portable/

# Local custom paths
build-debug/
dist-debug/
scratch/
